export CRED_STORE=credhub
export ENVIRONMENT_NAME=vcf
export MGMT_FOUNDATION=concourse
export FOUNDATION=vcf
export PIVNET_TOKEN=c22c01a15ac642ac803c
export DOCKER_TOKEN=dckr_pat_8KkeFoCojoGeT-z1N3JGXK2T9J8
export DOCKER_USERNAME=malston538
export VCENTER_USERNAME=administrator@vsphere.local
export VCENTER_PASSWORD=VMware1!VMware1!
export GIT_REPO_DEPLOY_KEY_PATH=~/.ssh/id_rsa_platform_automation

export NSXT_ADMIN_PASSWORD=VMware1!VMware1!

export OM_TARGET=opsman.tas.vcf.lab
export OM_USERNAME=admin
export OM_PASSWORD=VMware1!VMware1!
export OM_SKIP_SSL_VALIDATION=true
export OM_PRIVATE_KEY=~/.ssh/vcf_opsman_ssh_key
export OM_CONNECT_TIMEOUT=60
eval "$(om bosh-env 2>/dev/null)"
export BOSH_CA_CERT
BOSH_CA_CERT="$(om certificate-authorities -f json | jq -r '.[] | select(.active==true) | .cert_pem')"
export BOSH_ALL_PROXY="ssh+socks5://ubuntu@$OM_TARGET:22?private-key=$OM_PRIVATE_KEY"

export GOVC_URL="vc01.vcf.lab"
export GOVC_USERNAME="administrator@vsphere.local"
export GOVC_INSECURE="true"
export GOVC_DATACENTER="VCF-Datacenter"
export GOVC_PASSWORD=$(op read "op://Private/vc01.vcf.lab/password")
export GOVC_DEBUG=true

# export CREDHUB_CLIENT=credhub_admin_client
# export CREDHUB_SECRET=tLY2mfEhNthsgVBHgyYMyLaKsN_3R0Nc
# export CREDHUB_SERVER=https://credhub.service.cf.internal:8844

# export CREDHUB_CLIENT=director_to_credhub
# export CREDHUB_SECRET=T-Ab8terskCzrlQfL9w4K8gEwv9QtrkK
# export CREDHUB_SERVER=https://10.0.1.11:8844

# export DEMO_MODE="automated"
# export DEMO_SEGMENT="shared-demo"
# export DEMO_ORG="shared-isoseg-demo"
# export DEMO_SPACE="dev"
# export DEMO_CLEANUP="true"
# export DEMO_SKIP_BOSH="false"
# export DEMO_APP_PATH=$HOME/spring-music/build/libs/spring-music-1.0.jar
