{
  "theme": "dark-daltonized",
  "preferredNotifChannel": "iterm2_with_bell",
  "autoUpdates": false,
  "hasCompletedOnboarding": true,
  "hasSeenTasksHint": true,
  "hasUsedStash": true,
  "numStartups": 0,
  "tipsHistory": {}
}
